<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.martinrgb.roundconrner">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".RoundActivity">
        </activity>
        <activity android:name=".SquircleActivity">
        </activity>
        <activity android:name=".SuperellipseActivity">
        </activity>
        <activity android:name=".SmoothActivity">
        </activity>
        <activity android:name=".AnimationActivity">
        </activity>
        <activity android:name=".PrototypeActivity">
        </activity>
    </application>

</manifest>